[core]
    editor = nvim
    pager = bat
[diff]
    colorMoved = zebra
[fetch]
    prune = true
[http]
    postBuffer = 524288000
[hub]
    protocol = https
[pull]
    rebase = true
[push]
    autoSetupRemote = true
[user]
    email = git@bjornkrols.com
    name = botre