[alias]
    a = add
    c = commit
    cm = commit -m
    co = checkout
    cob = checkout -b
    cp = cherry-pick
    p = push
    pl = pull
    rh = reset --hard
    s = status
    recent = "!git for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'"
[core]
    editor = nvim
    pager = bat
[diff]
    colorMoved = zebra
[fetch]
    prune = true
[http]
    postBuffer = 524288000
[hub]
    protocol = https
[pull]
    rebase = true
[push]
    autoSetupRemote = true
[user]
    email = git@bjornkrols.com
    name = botre
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
