" Source .vimrc
source ~/.vimrc

" Highlight selection on yank (emulates vim-highlightedyank)
set highlightedyank

" Surrounding commands (emulates vim-surround)
set surround

" Commentary commands (emulates vim-commentary)
set commentary