" Source .vimrc
source ~/.vimrc

" Keep the mode that was enabled before starting a refactoring
set idearefactormode=keep

" Highlight selection on yank (emulates vim-highlightedyank)
set highlightedyank

" Surrounding commands (emulates vim-surround)
set surround

" Commentary commands (emulates vim-commentary)
set commentary

" Extended matching with "%" (emulates matchit)
set matchit

" Text objects for entire buffers (emulates vim-textobj-entire)
set textobj-entire

" Tree explorer (emulates NERDTree)
set NERDTree

" NERDTree mappings
nnoremap <C-n> :NERDTree<CR>
nnoremap <C-t> :NERDTreeToggle<CR>
nnoremap <C-f> :NERDTreeFind<CR>

" IDE mappings
map <leader>fu <Action>(FindUsages)
map <leader>rn <Action>(RenameElement)
vmap = <Action>(ReformatCode)

" IDE commands
command! Zen action ToggleDistractionFreeMode